.main-subs__info {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 17px;
	margin-right: 40px;
	text-decoration: none; 
	color:#000000;
}
.main-subs:last-child {
	margin-right: 0px;
}
@media all and (max-width:600px){
	.main-subs__info {
		font-size: 14px;
		margin-right: 10px;
	}
}