@import "page__block.scss";
@import "main-image.scss";
@import "trans-subs.scss";

@import "fixed-header.scss";
@import "fixed-header__header-content.scss";
@import "reg-link.scss";
@import "content-block__h-sides.scss";
@import "content-block__h-sides_center.scss";
@import "content-block__h-sides_right.scss";
@import "content-block__h-sides_left.scss";
@import "line-draw.scss";
@import "content-block__logo.scss";
@import "button-holder.scss";
@import "input-box.scss";
@import "input.scss";
@import "input-button.scss";

@import "user-profile.scss";
@import "user-profile__holder.scss";
@import "content-block__avatar.scss";
@import "avatar.scss";
@import "content-block__avatar-border.scss";
@import "content-block__information.scss";
@import "main-follow.scss";
@import "link-button.scss";
@import "main-follow__user.scss";
@import "main-follow__verif.scss";
@import "double-holder.scss";
@import "main-info.scss";
@import "main-info__link.scss";
@import "main-subs.scss";
@import "main-subs__info.scss";

@import "story-highlights.scss";
@import "story-highlights__story-holder.scss";
@import "content-block__story.scss";
@import "story.scss";
@import "story__image.scss";
@import "story__label.scss";

@import "posts-header";
@import "posts-header__menu";
@import "content-block__menu-link.scss";
@import "menu-link.scss";
@import "menu-link_active.scss";
@import "menu-link__pub.scss";
@import "menu-link__mark.scss";
@import "menu-link__label.scss";

@import "original-posts.scss";
@import "original-posts__content.scss";
@import "content-block__posts.scss"; 
@import "post-image.scss";

@import "footer.scss";
@import "footer__content-block.scss";
@import "content-block.scss";
@import "link-block.scss";
@import "link-block__link.scss";
@import "content-block__inst";

.page {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
a:focus, a:hover, a:link, a:visited, a:active {
	outline: none;
}
::focus-outer, ::focus-inner {
    border: 0;
    padding: 0;
}
.input::placeholder {
    font-size: 14px;
	font-family: Arial, sans-serif;
    text-overflow: ellipsis;
	text-align: center;
    width: 100px;
}
.placeholder-text-left::placeholder {
	text-align: left;
}

/*Пасхалка №1*/
.easter-egg {
    position: relative;
    width: 24px;
    height: 24px;
}
.easter-egg__front {
    position: absolute; 
    z-index:1;
    transition: filter 1s ease;
}
.easter-egg__back {
    position: absolute;
}
.easter-egg__front:hover{
    filter: opacity(0);
}