.story-highlights__story-holder {
	display: flex;
	flex-direction: row;
	padding-bottom: 40px;
	margin: 0px 20px -15px 0px;     overflow-x: auto;
}  
@media all and (max-width:600px){
	.story-highlights__story-holder {
		margin-bottom: -15px;
		padding-bottom: 20px;
	}
}
