.page__block {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%; }

.main-image {
  background-image: url("../images/z-inst.png"); }

@media all and (max-width: 600px) {
  .main-image {
    background-image: url("../images/z-inst-little.png"); } }
.trans-subs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-top: 1px solid #efefef; }

.fixed-header {
  position: fixed;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6; }

.fixed-header__header-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin: 20px 20px;
  transition: margin 200ms linear; }

.reg-link {
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #3897f0;
  text-decoration: none; }

.content-block__h-sides {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0px 10px; }

.content-block__h-sides:first-child {
  margin-left: 20px; }

.content-block__h-sides:last-child {
  margin-right: 20px; }

.content-block__h-sides_center {
  justify-content: space-between;
  height: 28px;
  width: 215px;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  cursor: text; }

@media all and (max-width: 600px) {
  .content-block__h-sides_center {
    display: none; } }
.content-block__h-sides_right {
  flex: 2;
  justify-content: flex-end; }

.content-block__h-sides_left {
  flex: 2;
  justify-content: flex-start; }

@media all and (max-width: 450px) {
  .content-block__h-sides_left {
    display: none; } }
.line-draw {
  height: 28px;
  margin: 0px 16px;
  border-left: 1px solid #000000;
  transition: visibility 100ms linear; }

.content-block__logo {
  position: relative;
  top: 4px;
  transition: visibility 100ms linear; }

.button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px; }

.input-box {
  height: 26px;
  width: calc(100% - 52px);
  display: flex;
  align-items: center;
  justify-content: center; }

.input {
  font-size: 14px;
  width: 100%;
  border: none;
  background-image: url(../images/h-search.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 30px) 50%; }

.input-button {
  visibility: collapse;
  cursor: default; }

.user-profile {
  background-color: #fafafa; }

.user-profile__holder {
  display: flex;
  flex-flow: row nowrap;
  margin: 128px 20px 20px 20px; }

@media all and (max-width: 600px) {
  .user-profile__holder {
    margin: 98px 20px 20px 10px; } }
.content-block__avatar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1 0 0;
  margin-right: 20px; }

@media all and (max-width: 600px) {
  .content-block__avatar {
    justify-content: flex-start; } }
.avatar {
  margin-bottom: -3px;
  padding: 1px;
  border: 5px solid #efefef;
  border-radius: 50%;
  background: #e6e6e6; }

@media all and (max-width: 600px) {
  .avatar {
    border: 3px solid #efefef;
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px; } }
.content-block__avatar-border {
  padding: 3px;
  background: linear-gradient(to top right, #f99e4c, #c82d8e);
  border-radius: 50%; }

.content-block__information {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 2 0 0; }

.main-follow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 15px 0px 20px 0px; }

@media all and (max-width: 400px) {
  .main-follow {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 10px 0px 20px 0px; } }
.link-button {
  margin: 0px 0px;
  padding: 5px 9px;
  border: 1px solid #3897f0;
  border-radius: 5px;
  background-color: #3897f0;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none; }

.main-follow__user {
  font-size: 32px;
  font-weight: lighter;
  margin-right: 5px; }

@media all and (max-width: 400px) {
  .main-follow__user {
    font-size: 20px; } }
.main-follow__verif {
  margin-right: 20px;
  background-position: -254px -407px;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-image: url("../images/z-inst.png"); }

.double-holder {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

@media all and (max-width: 400px) {
  .double-holder {
    margin-bottom: 10px; } }
.main-info {
  font-size: 17px;
  line-height: 1.5;
  background-color: #fafafa; }

@media all and (max-width: 600px) {
  .main-info {
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 20px; } }
.main-info__link {
  text-decoration: none;
  color: #003569; }

.main-subs {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
  background-color: #fafafa; }

@media all and (max-width: 600px) {
  .main-subs {
    margin: 0px;
    width: 100%;
    justify-content: space-around;
    padding: 15px 10px; } }
.main-subs__info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 17px;
  margin-right: 40px;
  text-decoration: none;
  color: #000000; }

.main-subs:last-child {
  margin-right: 0px; }

@media all and (max-width: 600px) {
  .main-subs__info {
    font-size: 14px;
    margin-right: 10px; } }
.story-highlights {
  background-color: #fafafa; }

.story-highlights__story-holder {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  margin: 0px 20px -15px 0px;
  overflow-x: auto; }

@media all and (max-width: 600px) {
  .story-highlights__story-holder {
    margin-bottom: -15px;
    padding-bottom: 20px; } }
.content-block__story {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly; }

.story {
  width: 130px;
  height: 130px;
  min-width: 130px;
  min-height: 130px;
  text-decoration: none; }

@media all and (max-width: 800px) {
  .story {
    width: 85px;
    height: 85px;
    min-width: 85px;
    min-height: 85px; } }
.story__image {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid #dbdbdb;
  border-radius: 40px; }

@media all and (max-width: 800px) {
  .story__image {
    width: 60px;
    height: 60px; } }
.story__label {
  font-size: 14px;
  font-weight: bold;
  color: #000000; }

.posts-header {
  background-color: #fafafa; }

.posts-header__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-top: 1px solid #efefef; }

@media all and (max-width: 600px) {
  .posts-header__menu {
    justify-content: space-around; } }
.content-block__menu-link {
  display: flex;
  align-items: center;
  margin: -1px 30px 0px 30px;
  padding: 17px 0px; }

.menu-link {
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px; }

.menu-link_active {
  border-top: 1px solid #000000;
  color: #000000; }

@media all and (max-width: 600px) {
  .menu-link_active {
    border: none; } }
.menu-link__pub {
  width: 12px;
  height: 12px;
  background-position: -425px -407px;
  background-repeat: no-repeat; }

@media all and (max-width: 600px) {
  .menu-link__pub {
    width: 24px;
    height: 24px;
    background-position: -156px -168px; } }
.menu-link__mark {
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: -411px -407px; }

@media all and (max-width: 600px) {
  .menu-link__mark {
    width: 24px;
    height: 24px;
    background-position: -221px -78px; } }
.menu-link__label {
  margin-left: 5px; }

@media all and (max-width: 600px) {
  .menu-link__label {
    display: none; } }
.original-posts {
  background-color: #fafafa; }

.original-posts__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: -1.375%; }

@media all and (max-width: 400px) {
  .original-posts__content {
    margin-bottom: 0.75%; } }
.content-block__posts {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between; }

.post-image {
  width: 31.5%;
  margin-bottom: -3px;
  padding-bottom: 2.75%; }

@media all and (max-width: 400px) {
  .post-image {
    width: 32.5%;
    padding-bottom: 1.25%; } }
.footer {
  background-color: #fafafa; }

.footer__content-block {
  display: flex;
  flex-direction: column;
  margin: 38px 20px; }

.content-block {
  width: 100%;
  max-width: 930px; }

.link-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%; }

@media all and (max-width: 800px) {
  .link-block {
    justify-content: center; } }
.link-block__link {
  margin: 0px 15px 10px 0px;
  font-weight: bold;
  color: #003572;
  text-transform: uppercase;
  text-decoration: none; }

.content-block__inst {
  font-weight: bold;
  color: #999999;
  text-transform: uppercase; }

@media all and (max-width: 800px) {
  .content-block__inst {
    text-align: center; } }
.page {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px; }

a:focus, a:hover, a:link, a:visited, a:active {
  outline: none; }

::focus-outer, ::focus-inner {
  border: 0;
  padding: 0; }

::placeholder {
  font-family: Arial, sans-serif;
  text-align: center; }

.placeholder-text-left::placeholder {
  text-align: left; }

/*# sourceMappingURL=project-instagram.css.map */
